/* estilo.css */

h1{ /*título - nome*/ 
	font-family: 'Lobster', cursive;
	font-size: 60px;
	color: #DC3D24;
	text-shadow: 0.5px 1.5px #ffffff;
}

body{
	font-family: 'Josefin Slab', serif;
	background-color: #23282B;
	color: #ffffff;
	text-align: center;
}

h2, h3, h4, h5, h6{
	font-family: 'Arvo', serif;
	font-size: 30px;
	color: #DC3D24;
	margin-top: 5px;
	margin-bottom: 15px;
}

.corpo{
	width: 960px;
	margin: auto;
}